
@model Sintoacct.Ledger.Models.LedgerViewModels
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>测试一下</title>
</head>
<body>
    <div>
        <p> @Html.LabelFor(m=>m.UserId) </p><p>@Html.DisplayTextFor(m=>m.UserId)</p>
        <p>@Html.LabelFor(m=>m.UserName)</p><p>@Html.DisplayTextFor(m=>m.UserName)</p>
        <p>@Html.LabelFor(m=>m.IsAuth)</p><p>@Html.DisplayTextFor(m=>m.IsAuth)</p>
    </div>
</body>
</html>
