@using Sintoacct.Ledger.Models;
@{
    Layout = null;
    List<AccountCategoryViewModel> cates = Model.AccountCategorys;
    string qCate = string.Join(",", Model.AccountCategoriesWithQuantity);
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/easyui")

    <style type="text/css">
        #auxForm div {
            padding: 10px;
        }

        #auxForm input {
            font-size: 14pt;
        }

        .datagrid-header-row td
        {
            vertical-align:middle;
        }
        .datagrid-header-row td div {
            text-align: center !important;
            font-weight: bold;
        }
        
    </style>
</head>
<body>

    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',split:false,border:false" style="padding:10px;overflow:hidden;">
            @foreach (AccountCategoryViewModel c in cates)
            {
                <a href="javascript:void(0)" id="cate_@c.AcId" class="easyui-linkbutton cate"
                   data-options="iconCls:'icon-large-picture',size:'large',iconAlign:'left',toggle:true,group:'g1'"
                   onclick="cateOnClick(@c.AcId)" style="width:80px;">@c.CategoryName</a>
            }
        </div>
        <div data-options="region:'center',border:false" style="padding:10px;">
            <div class="easyui-panel" id="divBalance" data-options="fit:true,border:false">
                <table class="easyui-datagrid" id="dgBalance"
                       data-options="singleSelect:true,toolbar: '#tbBalance',fitColumns:true,idField:'AccId',pagination:true,fit:true,pageList:[10,50,100],pageSize:100,onClickCell: onClickCellExt">
                    <thead>
                        <tr>
                            <th data-options="field:'AccCode',width:150,formatter:formatterAccCode">编码</th>
                            <th data-options="field:'AccName',width:150,formatter:formatterAccName">名称</th>
                            <th data-options="field:'Direction',align:'center',width:50">余额方向</th>
                            <th data-options="field:'InitialBalance',align:'right',width:150,editor:{type:'numberbox',options:{precision:2,formatter:formatterNumber}}">期初余额</th>
                            <th data-options="field:'YtdDebit',align:'right',width:150,editor:{type:'numberbox',options:{precision:2,formatter:formatterNumber}}">本年累计借方</th>
                            <th data-options="field:'YtdCredit',align:'right',width:150,editor:{type:'numberbox',options:{precision:2,formatter:formatterNumber}}">本年累计贷方</th>
                            <th data-options="field:'YtdBeginBalance',align:'right',width:150,formatter:formatterNumber">年初余额</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="easyui-panel" id="divBalanceQ" data-options="fit:true,border:false">
                <table class="easyui-datagrid" id="dgBalanceQ"
                       data-options="singleSelect:true,toolbar: '#tbBalanceQ',fitColumns:true,idField:'AccId',pagination:true,fit:true,pageList:[10,50,100],pageSize:100,onClickCell: onClickCellExt">
                    <thead>
                        <tr>
                            <th rowspan="2" data-options="field:'AccCode',width:150,formatter:formatterAccCode">编码</th>
                            <th rowspan="2" data-options="field:'AccName',width:150,formatter:formatterAccName">名称</th>
                            <th rowspan="2" data-options="field:'Direction',align:'center',width:50">余额方向</th>
                            <th colspan="2">期初余额</th>
                            <th colspan="2">本年累计借方</th>
                            <th colspan="2">本年累计贷方</th>
                            <th colspan="2">年初余额</th>
                        </tr>
                        <tr>

                            <th data-options="field:'InitialQuantity',align:'right',width:150,editor:{type:'numberbox',options:{precision:10,formatter:formatterNumber}}">数量</th>
                            <th data-options="field:'InitialBalance',align:'right',width:150,editor:{type:'numberbox',options:{precision:2,formatter:formatterNumber}}">金额</th>
                            <th data-options="field:'YtdDebitQuantity',align:'right',width:150,editor:{type:'numberbox',options:{precision:10,formatter:formatterNumber}}">数量</th>
                            <th data-options="field:'YtdDebit',align:'right',width:150,editor:{type:'numberbox',options:{precision:2,formatter:formatterNumber}}">金额</th>
                            <th data-options="field:'YtdCreditQuantity',align:'right',width:150,editor:{type:'numberbox',options:{precision:10,formatter:formatterNumber}}">数量</th>
                            <th data-options="field:'YtdCredit',align:'right',width:150,editor:{type:'numberbox',options:{precision:2,formatter:formatterNumber}}">金额</th>
                            <th data-options="field:'YtdBeginBalanceQuantity',align:'right',width:150,editor:{type:'numberbox',options:{precision:10,formatter:formatterNumber}}">数量</th>
                            <th data-options="field:'YtdBeginBalance',align:'right',width:150,formatter:formatterNumber">金额</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tbBalance">
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="save()">保存</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="balance()">试算平衡</a>
               
            </div>
            <div id="tbBalanceQ">
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="save()">保存</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="balance()">试算平衡</a>

            </div>
        </div>
    </div>

    <div id="dataCache"></div>
    @Html.AntiForgeryToken()

    <div id="addDetail" class="easyui-dialog" title="增加明细" style="width:400px;height:500px;"
         data-options="resizable:false,modal:true,closed:true">
        <div class="easyui-panel" id="auxPanel" data-options="fit:true,border:false">
            <form id="auxForm" method="post">
                <div>
                    <input class="easyui-textbox" id="AccName" name="AccName" data-options="label:'科目名称',disabled:true" style="width:90%;height:32px">
                    <input type="hidden" id="AccId" name="AccId"/>
                </div>
                <div>辅助核算:</div>
                <div><select class="easyui-combobox" id="auxCustom" name="custom" data-options="label:'客户',editable:false" style="width:90%;height:32px">
                    @foreach (AuxiliaryViewModel aux in Model.AuxCustom)
                    {
                        <option value="@aux.AuxId">@aux.AuxName</option>
                    }
                    </select></div>
                <div><select class="easyui-combobox" id="auxSuppliers" name="suppliers" data-options="label:'供应商',editable:false" style="width:90%;height:32px">
                         @foreach (AuxiliaryViewModel aux in Model.AuxSuppliers)
                         {
                             <option value="@aux.AuxId">@aux.AuxName</option>
                         }
                    </select></div>
                <div><select class="easyui-combobox" id="auxEmployee" name="employee" data-options="label:'职员',editable:false" style="width:90%;height:32px">
                         @foreach (AuxiliaryViewModel aux in Model.AuxEmployee)
                         {
                             <option value="@aux.AuxId">@aux.AuxName</option>
                         }
                    </select></div>
                <div><select class="easyui-combobox" id="auxProject" name="project" data-options="label:'项目',editable:false" style="width:90%;height:32px">
                         @foreach (AuxiliaryViewModel aux in Model.AuxProject)
                         {
                             <option value="@aux.AuxId">@aux.AuxName</option>
                         }
                    </select></div>
                <div><select class="easyui-combobox" id="auxSector" name="sector" data-options="label:'部门',editable:false" style="width:90%;height:32px">
                         @foreach (AuxiliaryViewModel aux in Model.AuxSector)
                         {
                             <option value="@aux.AuxId">@aux.AuxName</option>
                         }
                    </select></div>
                <div><select class="easyui-combobox" id="auxInventory" name="inventory" data-options="label:'存货',editable:false" style="width:90%;height:32px">
                         @foreach (AuxiliaryViewModel aux in Model.AuxInventory)
                         {
                             <option value="@aux.AuxId">@aux.AuxName</option>
                         }
                    </select></div>
                <div style="float:right;">
                    <a id="btnYes" href="#" class="easyui-linkbutton" onclick="addAuxItem()" data-options="width:80">确定</a>
                    <a id="btnNo" href="#" class="easyui-linkbutton" onclick="closeAuxItem()" data-options="width:80">取消</a>
                </div>
            </form>
        </div>
    </div>

    <div id="dialogTrial" class="easyui-dialog" title="试算平衡检查" style="width:550px;height:200px;"
         data-options="resizable:false,modal:true,closed:true">
        <div class="easyui-layout" data-options="fit:true" id="divTrial">
            <div data-options="region:'center',border:false" style="padding:10px;">
                <div class="easyui-panel"  data-options="fit:true,border:false">
                    <table class="easyui-datagrid" id="dgTrial" data-options="singleSelect:true,fitColumns:true,fit:true,url:'/api/acctbook/TrialBalance/',method:'GET',onLoadSuccess:trialOnLoadSuccess">
                        <thead>
                            <tr>
                                <th data-options="field:'ItemName',align:'center',width:150">项目名称</th>
                                <th data-options="field:'DebitBalance',align:'center',width:150">借方金额</th>
                                <th data-options="field:'CreditBalance',align:'center',width:150">贷方金额</th>
                                <th data-options="field:'Imbalance',align:'center',width:150">差额</th>
                            </tr>
                        </thead>
                    </table>
                    
                </div>
            </div>
            <div data-options="region:'south',border:false,closed:true" style="padding:10px;color:red;" >
            您录入的初始余额不平衡，请仔细核对
                <a>「资产负债表」</a>与<a>「利润表」</a>！
            </div>
            </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui")

    <script type="text/javascript">


        var qCate = ","+"@qCate"+",";

    $(function () {
        init();
    });

    function init()
    {
        $("#auxForm").form({
            url: "/api/acctbook/addAuxAccount/",
            onSubmit: formOnSubmit,
            success: formSuccess
        });

        //默认类别
        $(".cate:first").linkbutton("select");
        $(".cate:first").click();
    }

    function resetDg()
    {
        $("#divBalanceQ").hide();
        $("#divBalance").hide();
    }

    function save()
    {
        if (endEditing()) {
            var changeDatas = [];
            var change = dgWrapper.dg.datagrid("getChanges");
            $.each(change, function (i, row) {
                changeDatas.push({
                    AccId: row.AccId,
                    AccCode: row.AccCode,
                    AccName: row.AccName,
                    Direction:row.Direction,
                    InitialQuantity: row.InitialQuantity,
                    InitialBalance: row.InitialBalance,
                    YtdDebitQuantity: row.YtdDebitQuantity,
                    YtdDebit: row.YtdDebit,
                    YtdCreditQuantity: row.YtdCreditQuantity,
                    YtdCredit: row.YtdCredit,
                    YtdBeginBalanceQuantity: row.YtdBeginBalanceQuantity,
                    YtdBeginBalance: row.YtdBeginBalance
                });
            });

            $.post("/api/acctbook/saveAccountInit/", { Accounts: changeDatas }, function (data) {
                if (responseHandle(data))
                {
                    var cateId = $("#dataCache").data("AccCate");
                    $("#dataCache").removeData("account" + cateId);

                    cateOnClick(cateId);
                }
            });
        }
    }

    function cateOnClick(cateId)
    {
        resetDg();
        var isQuan = qCate.indexOf("," + cateId + ",") > -1;
        dgWrapper.dg = isQuan ? $("#dgBalanceQ") : $("#dgBalance");
        if (isQuan)
        {
            $("#divBalanceQ").show();
            $("#divBalance").hide();
        }
        else
        {
            $("#divBalanceQ").hide();
            $("#divBalance").show();
        }

        $("#dataCache").data("AccCate",cateId);
        var dgCache = $("#dataCache").data("account"+cateId);

        if(dgCache == undefined)
        {
            $.get("/api/acctbook/accountofcate/", { acctCateId: cateId }, function (data) {
                dgWrapper.dg.datagrid("loadData", data);
                $("#dataCache").data("account" + cateId, data);
            });
        }
        else
        {
            dgWrapper.dg.datagrid("loadData", dgCache);
        }
    }


    function formatterAccCode(value,row,index)
    {
        if (row.AccCode.length > 4)
        {
            return '<p style="text-indent:12px;margin: 0;padding: 0;">' + value + '</p>';
        }
        

        return value;
    }

    function formatterAccName(value, row, index) {
        if (row.AccCode.length > 4) {
            value = '<p style="text-indent:12px;display: inline-block;margin: 0;padding: 0;">' + value + '</p>';
        }
        else
        {
            value = '<p style="display: inline-block;margin: 0;padding: 0;">' + value + '</p>';
        }

        if (row.IsAuxiliary) {
            value = value + '<a  title="增加明细" href="javascript:addDetail(' + row.AccId + ',\'' + row.AccCode + "  " + row.AccName + '\');" style="font-size:16pt;float:right;">+</a>';
        }
        else if(row.AccName.indexOf("_")>-1)
        {
            value = value + '<a  title="删除明细" href="javascript:delDetail(' + row.AccId + ');" style="font-size:14pt;float:right;">X</a>';
        }

        return value;
    }

    function formatterNumber(value, row, index)
    {
        if(parseFloat(value) <= 0)
        {
            return "";
        }
        else
        {
            return value;
        }
    }

    function addDetail(accId,accName)
    {
        $("#auxForm").form("clear");
        $("#AccId").val(accId);
        //$("#__RequestVerificationToken").val(af_token);
        $("#AccName").textbox("setText", accName);
        

        $("#addDetail").dialog("open");
    }

    function onClickCellExt(index, field)
    {
        var data = dgWrapper.dg.datagrid("getData");
        if (data.rows[index] != null && !data.rows[index].hasChildren)
        {
            onClickCell(index, field);
        }
        else
        {
            endEditing();
        }
    }

    function addAuxItem()
    {
        
        $("#auxForm").submit();
    }

    function formOnSubmit() {
        return $(this).form('validate');
    }

    function formSuccess(data) {
        if (responseHandle(data)) {
            var cateId = $("#dataCache").data("AccCate");
            $("#dataCache").removeData("account" + cateId);

            cateOnClick(cateId);

            closeAuxItem();
        }
    }
    function closeAuxItem()
    {
        $("#addDetail").dialog("close");
        $("#AccName").textbox("clear");
    }

    function delDetail(accId)
    {
        $.post("/api/acctbook/delAccount/", { AccId: accId }, function (data) {
            if (formSuccessHandle(data)) {
                var cateId = $("#dataCache").data("AccCate");
                $("#dataCache").removeData("account" + cateId);

                cateOnClick(cateId);

                closeAuxItem();
            }
        });
    }

    function balance()
    {
        $("#dialogTrial").dialog("open");
        $("#dgTrial").datagrid("reload");
    }

    function trialOnLoadSuccess(data)
    {
        $.each(data.rows, function (i, n) {
            if(Math.abs(parseFloat(n.Imbalance))>0)
            {
                $("#divTrial").layout("panel", "south").panel("open");
            }
            
        });
    }

    </script>


</body>
</html>